body {
  line-height: 130%;
  font-size: 13px;
}
h1, div#navlinks {
  text-align: center;
}
h2 {
}
table {
  width: 100%;
}
th, td {
  border: 1px solid dotted;
  padding: 5px;
}
th {
  background-color: bisque;
}
td {
  background-color: #eee;
}
a {
  color: blue;
}

